@import "@styles/utils/index";

.calculator {
  display: grid;
  grid-template-areas:
    "output output sidebar"
    "memory memory sidebar"
    "keboard keyboard sidebar";
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;

  &__keyboard {
    display: grid;
    grid-template: repeat(6, 3rem) / repeat(4, 4.5rem);
    grid-gap: 0.1rem;
    grid-area: keyboard;
  }

  &__sidebar {
    grid-area: sidebar;
    padding-left: 1rem;
    width: 240px;

    .tabs {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      &__item {
        cursor: pointer;
        position: relative;
        font: {
          size: 12px;
        }

        &_active {
          &::before {
            content: "";
            position: absolute;
            bottom: -52%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 1rem;

            width: 40%;
            height: 3px;

            background: #5e5eff;
          }
        }
      }

      &__content {
        flex: 1 0 100%;
      }
    }
  }

  &__memory {
    &-control {
      display: flex;
      justify-content: space-between;
      grid-area: memory;
      margin-bottom: 0.4rem;
    }

    &-content {
      font: {
        size: 12px;
      }
    }

    &-button {
      background: none;
      border: none;
      border-radius: 0.3rem;
      text-align: center;
      flex-grow: 1;
      padding-block: 0.5rem;
      font: {
        size: 0.75rem;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &_unactive {
        color: gray;

        &:hover {
          background: none;
          cursor: auto;
        }
      }
    }
  }

  &__output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
    padding: 1rem 0;
    grid-area: output;
    min-height: 5.7rem;
    text-align: end;
  }

  &__result {
    font: {
      size: 2rem;
      weight: 500;
    }
  }

  &__expression {
    font: {
      size: 0.8rem;
    }
    color: gray;
  }
}
