@import "@/styles/utils/index";

.calculator {
  display: grid;
  height: 480px;
  max-width: 620px;
  grid-template: 2fr 1fr 4fr / 4fr 3.6fr;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;

  &__keyboard {
    display: grid;
    grid-template: repeat(6, 3rem) / repeat(4, 4.5rem);
    grid-gap: 0.1rem;
  }

  &__sidebar {
    grid-row: span 3;
    padding-left: 1rem;

    .tabs {
      $transitionTime: 0.15s;

      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;

      &__control {
        display: flex;
        gap: 1rem;
      }

      &__item {
        cursor: pointer;
        position: relative;
        font: {
          size: 12px;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -52%;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 1rem;
          opacity: 0;
          transition: $transitionTime;
          width: 40%;
          height: 3px;

          background: #5e5eff;
        }

        &_active {
          &::before {
            opacity: 1;
          }
        }
      }

      &__content {
        flex-grow: 1;
        overflow-y: scroll;
        scrollbar-width: none;
      }
    }
  }

  &__memory {
    &-control {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.4rem;
    }

    &-content {
      font: {
        size: 12px;
      }
    }

    &-button {
      background: none;
      border: none;
      border-radius: 0.3rem;
      text-align: center;
      flex-grow: 1;
      padding-block: 0.5rem;
      font: {
        size: 0.75rem;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &_unactive {
        color: gray;

        &:hover {
          background: none;
          cursor: auto;
        }
      }
    }
  }

  &__history {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-item {
      $transitionTime: 0.15s;

      cursor: pointer;
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;
      transition: $transitionTime;

      &.history-item-enter {
        opacity: 0;
      }

      &.history-item-enter-active {
        opacity: 1;
        transition: opacity $transitionTime;
      }

      &.history-item-exit {
        opacity: 1;
      }

      &.history-item-exit-active {
        opacity: 0;
        transition: opacity $transitionTime;
      }

      &:hover {
        background: #e0e0e0;
        transition: $transitionTime;
      }

      span {
        display: block;
        width: 100%;
        text-align: end;
        &:first-child {
          font: {
            size: 12px;
          }
          color: gray;
        }

        &:last-child {
          font: {
            size: 20px;
          }
        }
      }
    }
  }

  &__output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
    padding: 1rem 0;
    min-height: 5.7rem;
    text-align: end;
  }

  &__result {
    font: {
      size: 2rem;
      weight: 500;
    }
  }

  &__expression {
    font: {
      size: 0.8rem;
    }
    color: gray;
  }
}
