@import "@/styles/utils/index";

.button {
  $transitionTime: 0.1s;

  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 0.2rem;
  transition: $transitionTime;
  background: $whiteColor;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);

  font: {
    size: 16px;
  }

  &:hover {
    background: rgba(234, 234, 234, 1);
    transition: $transitionTime;
  }

  &:active {
    opacity: 0.6;
    transition: $transitionTime;
  }
}
