.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
  padding: 1rem 0 0.5rem;
  height: 100%;
  text-align: end;
}

.result {
  font: {
    size: 3.5rem;
    weight: 500;
  }
}

.expression {
  font: {
    size: 1.4rem;
  }
  color: gray;
}
