.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;

  button {
    background: none;
    border: none;
    border-radius: 0.3rem;
    text-align: center;
    flex-grow: 1;
    //padding-block: 0.2rem;
    font: {
      size: 1.3125rem;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .button_unactive {
    color: gray;

    &:hover {
      background: none;
      cursor: auto;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.item {
  $transitionTime: 0.05s;

  text-align: end;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;

  &:hover {
    .buttons {
      opacity: 1;
      transition: $transitionTime;
    }

    background: #e0e0e0;
    transition: $transitionTime;
  }
}

.buttons {
  $transitionTime: 0.05s;

  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;

  opacity: 0;
  transition: $transitionTime;

  button {
    padding: 0.2rem;
    font: {
      size: 1.1rem;
    }
  }
}

.number {
  margin-bottom: 0.175rem;

  font: {
    size: 1.75rem;
  }
}
